.scheme2-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-bottom: 30px;
}

.vectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cls-1 {
  width: 110,5px;
  height: 291px;
  fill: none;
  /* В качестве обводки задан градиент */
  stroke: url(#stripes);
  stroke-width: 2;
  /* Исходное состояние обводки — длинные черточки с нулевыми пробелами */
  stroke-dasharray: 550 0;
  /* animation: dasharray 5s infinite alternate; */
}


@keyframes dasharray {
  100% {
    stroke: rgba(0,0,0, .5);
    stroke-dasharray: 0 500;
    fill-opacity: 0;
  }
}

.cls-1{fill:none;stroke:#1d1d1b; stroke-opacity:0.8;}
.cls-1,.cls-4{stroke-miterlimit:10;}.cls-2{writing-mode:tb;text-orientation:sideways-right;glyph-orientation-vertical:90deg;}
.cls-2,.cls-3{font-size:12px;fill:#1d1d1b;font-family:MyriadPro-Regular, Myriad Pro;}
.cls-4{fill:none;stroke:#2f4697;}.cls-5{fill:#4e4b9a;}.cls-6{fill:#3e4193;}
.cls-7{fill:#464495;}
.cls-0{fill:gray;}



.active {
  fill: red!important;
}
